<h1>Admin/Issues Index</h1>


<h3>Issues Data</h3>
<table class="table">
    <tr>
      <td>議題</td>
      <td>建立時間</td>
      <td>分類</td> 
      <td>編輯人</td>
    </tr>
  <% @issues.each do |i|%> 
    <tr class ="unvote_color">
      <td><%= link_to i.name, admin_issue_path(i) %></td>
      <td><%= i.created_at %></td>
      <td><%= i.category.name%></td>
      <td><%= i.user.try(:username) %> </td>
    </tr>
  <% end %>

</table>

<h2>建立新議題</h2>

<%= form_for @issue, :url => admin_issues_path do |f| %>

  <%= render :partial => 'form', :locals => { :f => f} %>

<% end %>
