<h1>Admin/Issues Index</h1>


<h3>Issues Data</h3>
<table class="table">
    <tr>
      <td>議題</td>
      <td>內容</td>
      <td>分類</td> 
      <td>編輯人</td>
      <td>控制</td>
    </tr>
  <% @issues.each do |i|%>  
    <tr>
      <td><%= i.name %></td>
      <td><%= i.content %></td>
      <td><%= i.category.name%></td>
      <td><%= i.user.try(:username) %> </td>
      <td> <%= link_to "Edit", admin_issues_path(:issue_id => i.id ), :class => "btn btn-default"%> </td>
    </tr>
  <% end %>

</table>

<%
  if !@issue.new_record? 
  # if params[:issue_id]
    #edit
    url = admin_issue_path(@issue)
    method = :patch
  else 
    #new
    url = admin_issues_path
    methdo = :post
  end
%>

<%= form_for @issue, :url => url do |f| %>

  <%= render :partial => 'form', :locals => { :f => f} %>

<% end %>
