<h1>Profile show</h1>

<%#= link_to "修改個人資料", profile_path(@profile), :class => "btn btn-primary" %>

<%= form_for @profile, :url => profile_path(@profile), :method => :patch do |f|%>

<table class="table">

    <tr> 
      <td>   
        <div class="form-group">
          <%= f.label :username, "名稱" %>
          <%= f.text_field :username, :class => "form-control" %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="form-group">
          <%= f.label :bio, "性別" %>
          <%= f.select :bio,[["男","男"],["女","女"]] %>
        </div>
      </td>
    </tr>
    <tr>
    
    <tr>
      <td>
        <div class="form-group">
          <%= f.label :occupation, "職業" %>
          <%= f.text_field :occupation, :class => "form-control" %>
        </div>
      </td>
    </tr>
    
    <tr>
      <td>
        <div class="form-group">
          <%= f.label :location_id, "地區" %>
          <%= f.select :location_id, Location.all.map{|l| [l.name, l.id]}, :class => "form-control" %>
        </div>
      </td>
    </tr>

</table>

    <%= f.submit "送出",:class => "btn btn-primary" %>

<% end %>

<hr>

<h1><%= link_to "我的投票結果", profile_issues_result_profile_path(@profile) %></h1>

<h1><%= link_to "立委各領域人氣雷達圖", profile_legislators_path(@profile)%></h1>
 
<h1><%= link_to "立委相似度",profile_legislators_ships_profile_path(@profile) %></h1>






<%= link_to "想審更多法案嗎？", issues_path, :class => "btn btn-default"%>