<h1>Profile show</h1>



<%= form_for @profile, :url => profile_path(@profile), :method => :patch do |f|%>

<table class="table">
    <tr>
      <td>暱稱： <%= @profile.username  %></td>
    </tr>  
    <tr> 
      <td>   
        <div class="form-group">
          <%= f.label :username, "名稱" %>
          <%= f.text_field :username, :class => "form-control" %>
        </div>
      </td>
    </tr>

    <tr>
      <td>性別： <%= @profile.try(:bio)  %> </td>
    </tr> 
    <tr>
      <td>
        <div class="form-group">
          <%= f.label :bio, "性別" %>
          <%= f.select :bio,[["男","男"],["女","女"]] %>
        </div>
      </td>
    </tr>
    <tr>
    
    <tr>
      <td>職業： <%= @profile.occupation %> </td>
    </tr> 
    <tr>
      <td>
        <div class="form-group">
          <%= f.label :occupation, "職業" %>
          <%= f.text_field :occupation, :class => "form-control" %>
        </div>
      </td>
    </tr>
    
    <tr>
      <td>居住地： <%= @profile.location.try( :name ) %> </td>
    </tr> 
    <tr>
      <td>
        <div class="form-group">
          <%= f.label :location_id, "地區" %>
          <%= f.select :location_id, Location.all.map{|l| [l.name, l.id]}, :class => "form-control" %>
        </div>
      </td>
    </tr>

    <tr>
      <td>註冊時間： <%= @profile.created_at  %> </td>
    </tr> 

    <tr>
      <td>角色： <%= @profile.role  %></td>
    </tr> 
</table>

    <%= f.submit "送出",:class => "btn btn-primary" %>

<% end %>

<br>

<%= link_to "想審更多法案嗎？", issues_path, :class => "btn btn-default"%>