<% if current_user && !@profile.vote_issue?(@issue) %>
  

  <div class="col-md-12" id="vote_button">
    <h2>你認為呢？</h2>
    <div class="col-md-4">
      <%= link_to vote_issue_path(@issue, :votting => "yes", :category => @issue.category.english_name), :remote => true, :method => :post do%>
        <div class="vote-yes-button">
        贊成
        </div>
      <%end%>
    </div>
    
    <div class="col-md-4 ">
      <%= link_to vote_issue_path(@issue, :votting => "no", :category => @issue.category.english_name), :remote => true, :method => :post do%>
        <div class="vote-no-button">
        反對
        </div>
      <%end%>

    </div>

    <div class="col-md-4">
      <%= link_to  vote_issue_path(@issue, :votting => "pass", :category => @issue.category.english_name), :remote => true, :method => :post do%>
       <div class="vote-pass-button">
        不表態
        </div>
      <%end%>
    </div>
  </div>

<% elsif current_user && @profile.vote_issue?(@issue)%>  
  <div class="col-md-12" id="re_vote">
    <h3> 
      你的表態：<%=  display_personal_decision(@my_decision) %> 
      <%= link_to "後悔了，我想重投", clear_vote_issue_path(@issue, :votting => "re_vote"), :remote => true, :method => :post, :class => "btn btn-info btn-large"%>
    </h3>
  </div>

<% else%> 
    <h3>   
      你還沒登入喔！
      <%= link_to "登入投票", user_omniauth_authorize_path(:facebook),:class => "btn btn-primary" %>
    </h3>

<% end %>  


