<div class="container col-md-8 col-md-offset-2" id="issue-show">
  <div class="row">
    <% @issues.each do |i| %>
      <% if current_user &&  !@profile.vote_issue?(i)%>
      <%= link_to issue_path(i) do%>
        <div class="col-md-3 not-voted" id="issue_board">
            <h3>
              <%= render :partial => 'category_icon', :locals => { :i => i} %>
              <div>  <%=i.name%></div>
            </h3>
        </div>
      <%end%> 
      <%elsif current_user && @profile.vote_issue?(i)%>
        <%= link_to issue_path(i) do%>
          <div class="col-md-3 voted" id="issue_board">
            <h3>
              <%= render :partial => 'category_icon', :locals => { :i => i} %>
              <div ><%=i.name%></div>
            </h3>
          </div>
        <%end%>
      <%else%>
        <%= link_to issue_path(i) do%>
          <div class="col-md-3 not-voted" id="issue_board">
            <h3>
              <%= render :partial => 'category_icon', :locals => { :i => i} %>
              <div ><%=i.name%></div>
            </h3>
          </div>
        <%end%>
      <%end%>    
    <% end %>
  </div>
</div>





