<h1>Show</h1>

<table class="table">
  <tr>
    <td>議題名稱： <%= @issue.name %></td>
  </tr>

  <tr>
    <td>議題類型： <%= @issue.category.name %></td>
  </tr>
  
  <tr>
    <td>議題內容： <%= @issue.content %></td>
  </tr>

  <tr>
    <td>相關法案：<%= @issue.votes.count %></td>
  </tr>

  <tr>
    <% @issue.votes.each do |v| %>
      <td> <%= link_to v.uid%> </td>
    <% end %>
  </tr>

  <tr>
    <td>你的表態：<%=  @p.try(:decision) %></td> 
  </tr>

</table>


<%= link_to "贊成", user_votting_issue_path(@issue, :votting => "yes"),:class => "btn btn-success"%>
<%= link_to "反對", user_votting_issue_path(@issue, :votting => "no"),:class => "btn btn-danger"%>
<%= link_to "不表態", user_votting_issue_path(@issue, :votting => "clean"),:class => "btn btn-default"%>

<%= link_to "clear", user_votting_destroy_issue_path(@issue, :votting => "destroy"),:class => "btn btn-default"%>


<h1>誰跟你最像：
  
  <% @liking_legislators.each do |le|%>
    <li>
    <%= le.name%>
    <%= legislator_total_score(le.id)%>
    </li>
  <% end %>
  
</h1>







