<h1><%= @issue.name %></h1>

<div class="container">
  <div class="row">
    <div class="col-md-6" id="vote_declare">
        <%= render :partial => 'vote_button' %>
    </div>
    <div class="col-md-6">
      <%= link_to "clear_all", clear_all_issue_path(@issue), :method => :post, :class => "btn btn-info btn-large"%>
    </div>   
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-md-6" id="issue_show_photo">
      <%= link_to image_tag(@issue.logo.url(:original))%>

    </div>

    <div class="col-md-6">

      <table class="table" id="issue_show_table">
        <tr>
          <td>議題類型： <%= @issue.category.name %></td>
          </td>
        </tr>  
        <tr>
          <td>議題內容： <%= @issue.content %></td>
        </tr>
        <tr>
          <td>相關參考法案代碼：<%= @issue.votes.count %></td>
        </tr>
        <tr>
          <td> 
            <% @issue.votes.each do |v| %>
              <li><%= link_to v.uid %> </li> 
            <% end %>
          </td>
        </tr>
      </table>


    </div>


  </div>


</div>




<% if current_user %>

<h1>num : <%= @profile.vote_number %> </h1>

<h1>目前跟你最相像的立委：
  
  <% @similar_legislators.each do |le|%>
    <li>
      <%= le[:legislator].name %>
      <%= le[:score] %>%
    </li>
  <% end %>
  
</h1>



<% end %>
