<h1>Show</h1>

<table class="table">
  <tr>
    <td>議題名稱： <%= @issue.name %></td>
  </tr>

  <tr>
    <td>議題類型： <%= @issue.category.name %></td>
  </tr>
  
  <tr>
    <td>議題內容： <%= @issue.content %></td>
  </tr>

  <tr>
    <td>相關法案：<%= @issue.votes.count %></td>
  </tr>

  <tr>
    <% @issue.votes.each do |v| %>
      <td> <%= link_to v.uid%> </td>
    <% end %>
  </tr>

  <tr>
    <td>你的表態：<%=  @profile_issue.try(:decision) %></td> 
  </tr>

</table>


<%= link_to "贊成", user_votting_issue_path(@issue, :votting => "yes", :category => @issue.category.english_name),:class => "btn btn-success"%>
<%= link_to "反對", user_votting_issue_path(@issue, :votting => "no", :category => @issue.category.english_name),:class => "btn btn-danger"%>
<%= link_to "不表態", user_votting_issue_path(@issue, :votting => "clean", :category => @issue.category.english_name),:class => "btn btn-default"%>

<%= link_to "clear", user_votting_destroy_issue_path(@issue, :votting => "destroy"),:class => "btn btn-default"%>


<h1>num : <%= @issue.profile_vote_number(current_user) %> </h1>


<h1>目前跟你最相像的立委：
  
  <% @related_legislators.each do |le|%>
    <li>
    <%= le.name%>

    <%= ((legislator_total_score(le.id).to_f)/(@profile.vote_number.to_f)*100).round(2)%>%
    </li>
  <% end %>
  
</h1>







