<h1 ><%= @issue.name %></h1>

<div class="container">
  <div class="row">
    <div class="col-md-6" >
        
    </div>
    <div class="col-md-6">
      <%= link_to "clear_all", clear_all_issue_path(@issue), :method => :post, :class => "btn btn-info btn-large"%>
      
    </div>   
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-5" id="issue_show_photo">
      <%= link_to image_tag(@issue.logo.url(:original))%>
    </div>

    <div class="col-md-7">

      <table class="table" id="issue_show_table">
        <tr>
          <td>
            議題類型： 
            <%= @issue.category.name %>
          </td>
          </td>
        </tr>  
        <tr>
          <td>議題內容： <%= @issue.content %></td>
        </tr>
      </table>

      <div id="vote_declare">
        <%= render :partial => 'vote_button' %>
      </div>
      <% if current_user %>
        <div id="similar-legislater"></div>
      <% end %>
    </div>
  </div>
</div>

<table class="table">
  <tr>
    <td>相關參考法案代碼：<%= @issue.votes.count %></td>
  </tr>
  <tr>
    <td> 
      <% @issue.votes.each do |v| %>
        <li><%= link_to v.uid %> </li> 
      <% end %>
    </td>
  </tr>
</table>





