<h1><%= @issue.name %></h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>你的表態：<%=  personal_decision %> </h2>

    </div>
    <div class="col-md-6">
      <%= link_to "贊成", user_votting_issue_path(@issue, :votting => "yes", :category => @issue.category.english_name),:class => "btn btn-success btn-large"%>
      <%= link_to "反對", user_votting_issue_path(@issue, :votting => "no", :category => @issue.category.english_name),:class => "btn btn-danger btn-large"%>
      <%= link_to "不表態", user_votting_issue_path(@issue, :votting => "pass", :category => @issue.category.english_name),:class => "btn btn-default btn-large"%>

      <%= link_to "clear", user_votting_destroy_issue_path(@issue, :votting => "destroy"),:class => "btn btn-default"%>  

    </div>
  </div>

</div>







<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="http://farm9.staticflickr.com/8448/7901449658_2bca50ca32.jpg" alt="" id="issues_photo" >

    </div>

    <div class="col-md-6">

      <table class="table" id="issue_show_table">
        <tr>
          <td>議題類型： <%= @issue.category.name %></td>
          </td>
        </tr>  
        <tr>
          <td>議題內容： <%= @issue.content %></td>
        </tr>
        <tr>
          <td>相關參考法案代碼：<%= @issue.votes.count %></td>
        </tr>
        <tr>
          <td> 
            <% @issue.votes.each do |v| %>
              <li><%= link_to v.uid %> </li> 
            <% end %>
          </td>
        </tr>
      </table>


    </div>


  </div>


</div>






<h1>num : <%= @profile.vote_number %> </h1>


<h1>目前跟你最相像的立委：
  
  <% @related_legislators.each do |le|%>
    <li>
    <%= le.name%>

    <%= ((legislator_total_score(le.id).to_f)/(@profile.vote_number.to_f)*100).round(2)%>%
    </li>
  <% end %>
  
</h1>







