<h1 class="text-center page_title">
  第八屆立法委員
</h1>

<div class="col-md-8 col-md-offset-2">

<table class="table" >
  <tr>
    <td>
      <div class="btn btn-primary btn-lg col-md-offset-2">
        領域
      </div>
    </td>
    <td class="raking">
      <%= image_tag("1st.png")%>
    </td>
    <td class="raking">
      <%= image_tag("2nd.png")%>
    </td>
    <td class="raking">
      <%= image_tag("3rd.png")%>
    </td>
  </tr>

  <% @categories_all.each do |c|%>
    <tr>
      <td id="le-cate">
        <%= render :partial => 'category_icon', :locals => { :c => c} %>
        <%=link_to c.name,issues_path,:class =>"btn btn-info btn-lg"%>
      </td>
      <td>
        <%= render :partial => 'legislators', :locals => { :le => Legislator.get_higher_legislators_in_category(c.english_name)[0]}%>   
      </td>
      <td>
         <%= render :partial => 'legislators', :locals => { :le => Legislator.get_higher_legislators_in_category(c.english_name)[1]}%>
      </td>
      <td>
        <%= render :partial => 'legislators', :locals => { :le => Legislator.get_higher_legislators_in_category(c.english_name)[2]}%>
      </td>
    </tr>
  <%end%>
</table>

</div>
