<h1 class="text-center page_title">
  第八屆立法委員
</h1>

<div class="col-md-8 col-md-offset-2">
  <tr>
    <td id="category_area">
      <div class="btn btn-primary btn-lg">
        總票數
      </div>
    </td>
  </tr>





<table class="table" >
  <tr>
    <td id="category_area">
      <div class="btn btn-primary btn-lg">
        領域
      </div>
    </td>
    <td class="raking">
      <%= image_tag("1st.png")%>
    </td>
    <td class="raking">
      <%= image_tag("2nd.png")%>
    </td>
    <td class="raking">
      <%= image_tag("3rd.png")%>
    </td>
  </tr>

  <% @higher_legislators_by_categories.each do |c, lhl|%>
    <tr>
      <td id="le-cate">
        <%= render :partial => 'category_icon', :locals => { :c => c} %>
        <div>
        <%=link_to c.name,legislators_path,:class =>"btn btn-info btn-lg"%>
        </div>
      </td>
      <td>
        <%= render :partial => 'legislators', :locals => { :le => lhl[0]}%>   
      </td>
      <td>
         <%= render :partial => 'legislators', :locals => { :le => lhl[1]}%>
      </td>
      <td>
        <%= render :partial => 'legislators', :locals => { :le => lhl[2]}%>
      </td>
    </tr>
  <%end%>
</table>

</div>
