<h1>Legislator Show</h1>
<h3><%= @legislator.name%></h3>

<div class="container">
  <table class="table">
    <tr>
      <td>人氣指數 </td>
      <td>得票數/總票數</td>
      <td>各領域票數</td>
    </tr> 
    <tr>
      <td>
        <%= ((@scores["total"].to_f / @total_people_votes.to_f)*100).round(2)%> %
      </td>
      <td>
        <%= @scores["total"] %> / <%= @total_people_votes %>
      </td>
      <td>
        <% @categories.each do |c| %>        
          <li> <%= Category.get_chinese_name(c)%>: <%= @scores[c] %> </li>
        <% end %>
      </td>
    </tr>
  </table>
</div>