<h1>Legislator Show</h1>
<h3><%= @legislator.name%></h3>


<table class="table">
  <tr>
    <td>人氣指數</td>
    <td>各領域吸票程度</td>
  </tr> 
  <tr>
    <td>
      <%= @legislator.total_score_from(@legislator_score_table) %>
    </td>
    <td>
      Law: <%= ScoreService.law_score(@legislator_score_table)%>
      diplomacy: <%= ScoreService.diplomacy_score(@legislator_score_table)%>
      interior: <%= ScoreService.interior_score(@legislator_score_table)%>
      finance: <%= ScoreService.finance_score(@legislator_score_table)%>
      economy: <%= ScoreService.economy_score(@legislator_score_table)%>
      traffic: <%= ScoreService.traffic_score(@legislator_score_table)%>
      education: <%= ScoreService.education_score(@legislator_score_table)%>
      social: <%= ScoreService.social_score(@legislator_score_table)%>
    </td>


  </tr>
  

</table>