<h1>Admin/User Index</h1>


<h3>User Data</h3>
<table class="table">
    <tr>
      <td>姓名</td>
      <td>地點</td> 
      <td>權限</td>
    </tr>
  <% @profiles.each do |p|%>  
    <tr>
      <td><%= link_to p.username, admin_user_path(p) %></td>
      <td><%= p.location.try(:name) %></td>
      <td>
        <%= form_for p, url: admin_user_path(p), :method => :PATCH , :class => "form" do |p|%>

          <div class="form-group">
            <%=p.select :role, [["admin","admin"],["normal","normal"]], :class => "form-control"%>
            <%=p.submit "Update", :class => "btn btn-primary"%>
          </div>
        <%end%>
      </td>
    </tr>
  <% end %>

</table>


