<h1>法案 Index</h1>

<div>
  <%= link_to "新法案", new_vote_path,:class => "btn btn-primary"%>
</div>
<br>

<table class="table">
    <tr>
      <td>法案白話文</td>
      <td>法案原文</td>
      <td>分類</td> 
      <td>編輯</td>
      <td>控制</td>
    </tr>
  <% @votes.each do |v|%>  
    <tr>
      <td><%= v.new_content %></td>
      <td><%= v.original_content %></td>
      <td><%= v.category.name%></td>
      <td><%= v.user.username %> </td>
      <td> <%= link_to "Edit", votes_path(:vote_id => v.id ), :class => "btn btn-default"%> </td>
    </tr>
  <% end %>

</table>



<%
  if !@vote.new_record? 
  # if params[:vote_id]
    #edit
    url = vote_path(@vote)
    method = :patch
  else 
    #new
    url = votes_path
    methdo = :post
  end
%>

<%= form_for @vote, :url => url do |f| %>

  <%= render :partial => 'form', :locals => { :f => f} %>

<% end %>

