<!DOCTYPE html>
<html>
<head>
  <title>Jksong</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h1>政客爽</h1>
        <% if flash[:notice].present? %>
          <div style = "color: green">
            <%= flash[:notice]%>
          </div>
        <% end %>

        <% if flash[:alert].present? %>
          <div style = "color: red">
            <%= flash[:alert]%>
          </div>
        <% end %>

        <%= link_to "法案", votes_path,:class => "btn btn-default"%>
        <%= link_to "議題", issues_path,:class => "btn btn-default"%>

<%= yield %>


    </div>
  </div>
</div>

</body>
</html>
