<!DOCTYPE html>
<html>
<head>
  <title>Jksong</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="nav navbar-fixed-top navbar nav2">
  <div class="container">
    <div class="row">
      <div class="col-md-1" id="jksong_logo">
        <li>
          <%= link_to image_tag("jksong_logo_2.png"), issues_path %>
        </li>
      </div>

      <div class="col-md-1 col-md-offset-3">
        <li class="active">
          <%= link_to "投票囉！", issues_path,:class => "btn btn-default"%>
        </li>
      </div>
      
      <div class="col-md-1">
        <li>
          <% if current_user %>
            <%= link_to "開票囉！", profile_path(current_user) ,:class => "btn btn-default"%>
          <% end %>
        </li>
      </div>

      <div class="col-md-1">
        <li>
          <%= link_to "關於我們", about_path ,:class => "btn btn-default"%>
        </li>
      </div>

      <div class="col-md-1">
        <li>
          <% if current_user && current_user.admin? %>
            <%= link_to "管理者", admin_users_path ,:class => "btn btn-default"%>
          <% end %>
        </li>
      </div>

      <div class="col-md-3 " id="log_in_control_bar">
            <div class="col-md-12">
              <% if !current_user %>
                <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook),:class => "btn btn-primary" %>
              <%elsif%>
              
              <%end%>

              <% if current_user %>
                  <%= current_user.profile.username%>
                  <%= link_to('登出', destroy_user_session_path, :method => :delete) %>
              <% else %>
                  <%= link_to('登入', new_session_path(:user)) %>
              <% end %>
            </div>
          </div>
      
    </div>
  </div>
</div>


<div class="header ">
  <div class="container">
    <p>三百年前，鄭克塽領導下，台灣政權投降滿清</p>
    <p>三百年後，台灣在政客爽的領導下會有什麼後果呢？</p>    
  </div>
  
</div>

    <div class="clearfix"></div>




    <% if flash[:notice].present? %>
          <div style = "color: green">
            <%= flash[:notice]%>
          </div>
    <% end %>

    <% if flash[:alert].present? %>
      <div style = "color: red">
        <%= flash[:alert]%>
      </div>
    <% end %>


<div class="container  ">
  <%= yield %>
</div>



</body>
</html>
