<!DOCTYPE html>
<html>
<head>
  <title>Jksong</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top nav2" id="nav1">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div id="jksong_logo">
          <%= link_to image_tag("jksong_logo_3.png"), issues_path %>
        </div>
      </div>
      <div id="navbar" class="navbar-collapse collapse ">
        <div class="container">
          <div class="row">
            <div class="col-md-2"></div>
            <ul class="nav navbar-nav ">
              <li >
                <%= link_to "投票囉！", issues_path%>
              </li>
              <li>
                <% if current_user %>
                  <%= link_to "開票囉！", legislators_path %>
                <% end %>
              </li>
              <% if current_user %>
                <li>
                  <%= link_to "個人專區", profile_path(current_user) %>
                </li>
              <% end %>

              <% if current_user %>
                <li>
                  <%= link_to "關於我們", about_path%>
                </li>
              <% end %>

              <% if current_user && current_user.admin?%>
                <li>
                  <%= link_to "管理者", admin_users_path %>
                </li>
              <% end %>
            </ul>
            <div class="col-md-3 " id="log_in_control_bar">
            <div class="col-md-12">
              <% if current_user %>
                  <%= current_user.profile.username%>
                  <%= link_to('登出', destroy_user_session_path, :method => :delete) %>
              <% else %>
                  
            <% end %>
            </div>
          </div>
         </div>
      </div>
      </div><!--/.nav-collapse -->
    </div>
  </nav>





<div class="header ">
  <div class="container">
    <p>三百年前，鄭克塽領導下，台灣政權投降滿清</p>
    <p>三百年後，台灣在政客爽的領導下會有什麼後果呢？</p>  
    <div id="fB_login_button"> 
      <% if !current_user %>
        <%= link_to "Facebook 登入", user_omniauth_authorize_path(:facebook),:class => "btn btn-primary" %>
      <%elsif%>
      
      <%end%>
    </div>  
  </div>
  
</div>

    <div class="clearfix"></div>




    <% if flash[:notice].present? %>
          <div style = "color: green">
            <%= flash[:notice]%>
          </div>
    <% end %>

    <% if flash[:alert].present? %>
      <div style = "color: red">
        <%= flash[:alert]%>
      </div>
    <% end %>


<div class="container  ">
  <%= yield %>
</div>



</body>
</html>
